<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>头部</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/public.js"></script>
</head>

<body>
<div class="head">
    <div class="headL">
        <img class="headLogo" src="/static/img/logLOGO.png" alt="Logo"/>
    </div>
    <div class="headR">
        <span style="color:#FFF">当前用户：{{ username }}</span> <a href="/login" rel="external">【退出】</a>
    </div>
</div>
</body>
</html>